

* {
  font-family: var(--font-geist-sans);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* globals.css */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(180deg, #0c0c0c, #0e0e0e);
}
